---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";
---

<header>
  <div class="nav-container">
    <div class="top-nav-wrap" id="download">
      <a
        href="andrii-popenko-cv"
        class="hover:text-skin-accenttext-lg group inline-block cursor-pointer underline decoration-dashed underline-offset-8"
      >
        Download as PDF
      </a>
    </div>
    <Socials centered />
  </div>
  <Hr />
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex  items-center justify-between  p-4 sm:py-8;
  }
  .title {
    @apply absolute py-1 text-xl font-bold sm:static sm:text-3xl;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .download-button {
    width: 5.5rem;
    height: 100%;
  }

  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
</style>
